<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>
<body>

<div th:replace="fragments :: header"></div>

<form method="post" th:action="@{/login}">

    <div>
        <label for="email">Email</label>
        <input id="email" name="email"/>
<!--        <div class="error" th:errors="*{email}"></div>-->
    </div>
    <div>
        <label for="password">Password</label>
        <input id="password" type="password" name="password" />
<!--        <div class="error" th:errors="*{password}"></div>-->
    </div>
    <!-- TODO Remember Me-->
    <div>
    <input type="submit" value="Log In"/>
    </div>
</form>
<a href="/register">Register a new account</a>
</body>
</html>
